
// ======================================================================
// typography variables
// ======================================================================

$normal: normal;
$bold: bold;
$color: #222;
$fontSize: 20px;
$lineHeight: 1.5;
$defaultFont: (
  color: #222,
  font-size: 20px,
  line-height: 1.5
);
$monospace: "courier new", monospace;
$serif: Georgia, "Times New Roman", Times, serif;
$sans: Helvetica, Arial, sans-serif;

// ======================================================================
// colors variables
// ======================================================================

$default: (
  base: #F5F5F5,
  light: #FFFFFF,
  dark: #EEEEEE,
  darker: #E0E0E0
);
$primary: (
  base: #3F51B5,
  light: #5C6BC0,
  dark: #3949AB,
  darker: #303F9F
);
$success: (
  base: #43A047,
  light: #4CAF50,
  dark: #388E3C,
  darker: #2E7D32
);
$warning: (
  base: #FF5722,
  light: #FF7043,
  dark: #F4511E,
  darker: #E64A19
);
$info: (
  base: #039BE5,
  light: #03A9F4,
  dark: #0288D1,
  darker: #0277BD
);
$error: (
  base: #F44336,
  light: #EF5350,
  dark: #E53935,
  darker: #D32F2F
);
$text: (
  base: #212121,
  light: #727272
);
$background: (
  base: #fff
);
